<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/css/style.css' />
  <script data-main="/static/js/test.min" src="/static/js/lib/require.min.js"></script>
</head>

<body>
  <a href="/">index</a>
  <div id="app">
    {{message}}
  </div>
</body>
</html>